<html>
  <link rel="stylesheet" type="text/css" href="mystyle.css" />
  <body>
    <h2>Profile Picture picutred below</h2>
    <img src="pic_trulli.jpg" alt="Spotify Profile Image" />
    <h3>Name goes here</h3>
    <p>Name</p>

    <h3>Button Below</h3>
    <button>Authenticate</button>
  </body>
</html>
