:root {
    --width: 300px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
  }
  
  .blob { 
    width: var(--width);
    height: var(--width);
    top: -300px;
    background: #ff0066;
    transition: border-radius var(--transition-speed) linear;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
  .blob-2 {
    position: absolute;
    top: -500px;
    right: 0;
  }
  .blob-2 .blob {
    background: #B0BEC5;
  }
  
  body {
    margin: 0;
    overflow: hidden;
    background: #546E7A;
  }
  
  .x {
    animation: x var(--x-speed) linear infinite alternate;
  }
  .x2 {
    animation: x2 var(--x-speed) linear infinite alternate;
  }
  .y {
    animation: y var(--y-speed) linear infinite alternate;
  }
  
  @keyframes x {
    100% {
      transform: translateX(calc(100vw - var(--width)));
    }
  }
  @keyframes x2 {
    100% {
      transform: translateX(calc(-100vw + var(--width)));
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY(calc(100vh - var(--width)));
    }
  }
  
  
  .inputs {
    position: absolute;
    top: -500px;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .inputs label {
    flex: 1;
  }
  .inputs input {
    width: 100%;
  }


