.Hero {
  overflow: hidden;
}

body {
  color: white;
}

.vid-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.WelcomePage-Content {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;

  position: absolute;
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
  text-align: center;
}
#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  color: #8c52ff;
}
#flip div:first-child div {
  color: #4ec7f3;
}
#flip div:last-child div {
  color: #ffde59;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

h1.logo {
  color: white;
  text-align: center;
}
