.AboutUs{
    display: block;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 20%, rgba(29,253,139,1) 80%);
    height: 100%;
    width: 100%;
    padding: 20% 20%;
    color: white;
    box-sizing: border-box;

}
.button{
    border-radius: 4px;
    background-color: #f5009b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .login {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .login:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .login:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


.column {
    float: left;
    width: 50%;
    
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }