@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
  box-sizing: border-box;
}

h2 {
  padding-left: 10px;
  font-family: "Zen Dots", cursive;
  color: rgba(170, 23, 23, 0.39);
}
body {
  margin: 0;
}

.nav {
  background: rgba(0, 0, 0, 0.39);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: "Zen Dots", cursive;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  color: #ffde59;
  border-bottom: 3px solid #8c52ff;
}

.nav:hover h2.new-label:after {
  color: #ffde59;
  content: "YNDER";
}
