.Settings {
    display: block;
    background: rgb(40,37,39);
    background: linear-gradient(
        90deg,
         rgba(40,37,39,1) 1%,
         rgba(168,39,147,1) 31%,
         rgba(18,243,34,1) 78%, 
         rgba(59,88,61,1) 98%);

    height: 100%;
    width: 62%;
    padding: 21.8% 20%;
    color: white;
}