.content {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
}

body {
  background: rgb(40, 37, 39);
  background: linear-gradient(
    90deg,
    rgba(40, 37, 39, 1) 1%,
    rgba(168, 39, 147, 1) 31%,
    rgba(59, 88, 61, 1) 98%
  );
}
