.wrapper .sidebar {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 255px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile-pic {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile-pic img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  border-style: solid;
  border-color: white;
}

.wrapper .sidebar .profile-pic h3 {
  color: white;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile-pic p {
  color: white;
  font-size: 15px;
}

.Button-Order {
  display: block;
}

.Sidebar-Button {
  display: inline;
  border: 1px solid;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 3em;
  background-color: hsla(31, 100%, 88%, 0.726);
  color: black;
  width: 30%;
}

.Sidebar-Button:hover {
  background-color: hsla(249, 81%, 46%, 0.726);
  width: 50%;
}

.Sidebar-Button.Alert:hover {
  background-color: hsla(0, 89%, 30%, 0.719);
  width: 50%;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
