/* .TutorialPage{
    display: block;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 20%, rgba(29,253,139,1) 80%);
    height: 100%;
    width: 100%;
    padding: 20% 20%;
    color: white;
    box-sizing: border-box;

}

.column {
    float: left;
    width: 50%;
    
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
 */
